/* page layout */
body {
margin-left: 119px;
margin-right: 119px;
margin-top: 27px;
font-family: Rubik;
font-weight: bold;
font-size: 16px;
line-height: 19px;


}

span.bold {
font-weight:bold;
}

/* landing page title */
h1 {
font-family: Helvetica; 
font-style: normal;
font-weight: bold;
font-size: 40px;
color: #0A2338;
text-align: left;
line-height: 140%;
}

/* main headings */
h2 {
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 140%;
}

/* subheadings - events, navbar, etc*/
h3{
font-family: Rubik;
font-size: 15px;
line-height: 30px;
letter-spacing: 0.1em;
}

/* subheadings - join our community*/
h4 {
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 160%;
}

/* smaller subheadings - Creating pipelines, empowering women */
h5 {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 140%;
color: #212353;
}

/* footer text */
h6 {
font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 7.5px;
line-height: 180%;
letter-spacing: 0.01em;
}

/* paragraph text */
p {
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 160%;
color: #4B5D68;
}


/* membership button */
.button {
  background-color: #E68976;
  border: none;
  color: white;
  font-family: Avenir;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.button:hover {
  opacity: 0.6
}

.nav_button {
  background-color: none;
  border: none;
  color: black;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 5px;*/
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.nav_button:hover {
  background-color: #E68976;
  color: white;
}


/* nav bar button */
.joinbutton {
  background-color:#E57154;
  border: none;
  color: white;
  font-style: normal;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.joinbutton:hover {opacity: 0.6}

/* nav bar layout */
#topnav {
  overflow: hidden;
 background-color: rgba(244, 244, 244, 0.8); 
  z-index: 20;
 
}

/* nav bar links*/
#topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 16px;
}

/* nav bar hover colour (possibly change) */
#topnav a:hover {
  
  color: black;
}

/* nav bar active page colour (possibly change) */
#topnav a.active {
  color: black;
}

/* nav bar layout*/
.topnav-right {
  float: right;
}

/* table spacing */
#objectives td, #objectives th {
  padding-left: 50px;
   padding-right: 50px;
}

/* sticky nav bar */
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 65%;
}

.sticky + .content {
  padding-top: 60px;
}

/* square cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  
}

/*square card shadow*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
/*square card container*/
.container {
  padding: 2px 16px;
  
}

/*rectangle inside card*/
.rectangle {
  border-radius: 20px;
  background: #B3E2D4;
  padding: 5px; 
  width: 100px;
  height: 5px;  
}

/* center align elements */
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.containerRectangle {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  
}

.containerRectangle:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.colum {
  flex-direction: column;
  margin-right: 10px;
  flex: 1;
}

.colum div {
 

  padding: 5px 0;
 
}

.card {
  margin-left: 10px
  
}

.image {
  
  flex: 1;
}

.image img {
  display: block;
  
}
